@charset "utf-8";
/* CSS Document */
.navbar-default{
	background-color:#be2819;
	border:0px; 
	margin-left:15px;
	margin-right:15px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #000;
    background-color:#e7e7e7;
}


.header{
	background-color:#000;
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:28px;
	padding:6px;
} 	
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.4285;
    vertical-align: top;
	border-top:0px;
}
