@charset "utf-8";
/* CSS Document */
.navbar-default{
	background-color:#be2819;
	border:0px; 
	margin-left:15px;
	margin-right:15px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #000;
    background-color:#e7e7e7;
}


.header{
	background-color:#000;
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:28px;
	padding:6px;
} 	
 .col-md-3 a{
	 color: #639;
    text-decoration: none;
	font:15px bold Arial, Helvetica, sans-serif;
}
.col-md-3 a:hover{
		color:#be2819;
}
.col-md-3  li{
	list-style:none;
	border-bottom:dotted #CCCCCC 1px;
	padding:5px;
	font:Verdana, Geneva, sans-serif bold 10px;
	background:none;
	line-height:18px;
}	